body {
    background-color: rgb(21, 15, 77);
}

/*Анимация снегопада*/
#snow {
    background-image: url("img/snow_1.png"), url("img/snow_2.png"), url("img/snow_3.png");
    z-index: 1;

    animation: snow 40s linear infinite;
}
@keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }

    25% {
        background-position: 150px 300px, 250px 325px, 250px 200px;
    }

    75% {
        background-position: 500px 800px, 700px 450px, 900px 600px;
    }

    90% {
        background-position: 150px 300px, 250px 325px, 250px 200px;
    }

    100% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
}


@font-face {
    font-family: 'Mountains of Christmas';
    font-style: normal;
    src: local("Mountains of Christmas"), local("MountainsofChristmas-Regular"), url(https://fonts.gstatic.com/s/mountainsofchristmas/v8/dVGBFPwd6G44IWDbQtPewylJhLDHyIrT3I5b5eGTHmw.woff2) format("woff2");
}  

#graz{
    position: absolute;
    left: 35%;
    top: 37%;
    color: rgb(218, 255, 223);
    font-family: 'Langar', cursive;
}

#graz>h1{
    font-size: 60pt;
}

#countdown{
    position: absolute;
    left:61%;
    top: 52%;
    color: snow;
    font-family: 'Russo One', sans-serif;
}

#countdown>p{
    font-size: 20pt;
}
#countdown>span{
    font-size: 50pt;
}



/* Для телефона */
#grazMobile{
    position: absolute;
    left: 15%;
    top: 13%;
    color: rgb(218, 255, 223);
    font-family: 'Langar', cursive;
}

#grazMobile>h1{
    font-size: 30pt;
}

#countdownMobile{
    position: absolute;
    left:51%;
    top: 23%;
    color: snow;
    font-family: 'Russo One', sans-serif;
}
#countdownMobile>p{
    font-size: 14pt;
}
#countdownMobile>span{
    font-size: 16pt;
}